<% provide(:title, "Blog") %>
<% provide(:description, "Putter King Blog") %>

<div class="center education">
	<h1>Blog</h1>
</div>	

<table class="table">
<thead>
    <tr>
      <th style="width: 20%">Date</th>
      <th style="width: 40%">Post Title</th>
      <th style="width: 40%">Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>February 21st, 2012</td>
      <td><%= link_to "Putter King Scavenger Hunt Riddle", riddle_path %></td>
      <td>#PKSH2 Riddle and Riddle Answer</td>
    </tr>
    <tr>
      <td>November 20th, 2011</td>
      <td><%= link_to "The Finger on the Pulse of the Minigolf World", pulse_path %></td>
      <td>Part IX of the Putter King Interview Series - John Mittler and Hans Bergström</td>
    </tr>
    <tr>
      <td>November 15th, 2011</td>
      <td><%= link_to "Miniature Golf Down Under", under_path %></td>
      <td>Part VIII of the Putter King Interview Series - Allan Cox</td>
    </tr>
    <tr>
      <td>September 9th, 2011</td>
      <td><%= link_to "The Greatest Nutter to Ever Hold a Putter", nutter_path %></td>
      <td>Part VII of the Putter King Interview Series - Tim "Ace Man" Davies</td>
    </tr>
    <tr>
      <td>August 22nd, 2011</td>
      <td><%= link_to "The Minigolf Machine", machine_path %></td>
      <td>Part VI of the Putter King Interview Series - Oliver Florence</td>
    </tr>
    <tr>
      <td>August 11th, 2011</td>
      <td><%= link_to "Minigolf Ninjas", ninjas_path %></td>
      <td>Part V of the Putter King Interview Series - Pat Sheridan and Mandy Ranslow</td>
    </tr>
    <tr>
      <td>August 4th, 2011</td>
      <td><%= link_to "Top 10 Nostalgic Miniature Golf Obstacles", nostalgic_path %></td>
      <td></td>
    </tr>
    <tr>
      <td>June 11th, 2011</td>
      <td><%= link_to "Putting Away Parkinson’s", parkinson_path %></td>
      <td>Part IV of the Putter King Interview Series - Mick Cullen</td>
    </tr>
    <tr>
      <td>May 20th, 2011</td>
      <td><%= link_to "Adventures on the Crazy World of Minigolf Tour", crazy_path %></td>
      <td>Part III of the Putter King Interview Series - Richard Gottfried</td>
    </tr>
    <tr>
      <td>May 10th, 2011</td>
      <td><%= link_to "A Dentist’s Precision", dentist_path %></td>
      <td>Part II of the Putter King Interview Series - Brad Lebo</td>
    </tr>
    <tr>
      <td>May 2nd, 2011</td>
      <td><%= link_to "An Insight into Creativity and Imagination", creativity_path %></td>
      <td>Part I of the Putter King Interview Series - Patrick Washburn</td>
    </tr>
  </tbody>
</table>