<% provide(:title, "Top 10 Nostalgic Miniature Golf Obstacles") %>
<% provide(:description, "Putter King Blog - Top 10 Nostalgic Miniature Golf Obstacles") %>

<div class="center margin_header">
	<h1>
		Top 10
		<br>
		Nostalgic Miniature Golf Obstacles
	</h1>
</div>	
<div class="blog_text">
	<p>
		Miniature golf courses continue to evolve and change over time. Here is a look back at the Top 10 Nostalgic Miniature Golf Obstacles.  
		<br>
		<br>
		Many of today’s courses feature rolling greens and elaborate themes such as pirates and erupting volcanoes. As fashions and trends continue to change, sometimes we yearn for a little slice of nostalgia. Comment below and let us know your favorite nostalgic miniature golf obstacle.
	</p>
	<div class="center">
		<h4># 10 - "The Cannon"</h4>
		<%= image_tag("cannon.jpg", :alt => "The Cannon") %>
		<h4># 9 - "The Traffic Light"</h4>
		<%= image_tag("traffic.jpg", :alt => "The Traffic Light") %>
		<h4># 8 - "The Lighthouse"</h4>
		<%= image_tag("lighthouse.jpg", :alt => "The Lighthouse") %>
		<h4># 7 - "The Hanging Bowling Pins"</h4>
		<%= image_tag("bowling.jpg", :alt => "The Hanging Bowling Pins") %>
		<h4># 6 - "The Trestle Bridge Obstacle"</h4>
		<%= image_tag("bridge.jpg", :alt => "The Trestle Bridge Obstacle") %>
		<h4># 5 - "The Toboggan Trap Obstacle" a.k.a "The Ball Return Trap"</h4>
		<%= image_tag("toboggan.jpg", :alt => '"The Toboggan Trap Obstacle" a.k.a "The Ball Return Trap"') %>
		<h4># 4 - "The Barn"</h4>
		<%= image_tag("barn.jpg", :alt => "The Barn") %>
		<h4># 3 - "The 19th Hole" a.k.a "The Free Game Shot"</h4>
		<%= image_tag("19th.jpg", :alt => '"The 19th Hole" a.k.a "The Free Game Shot"') %>
		<h4># 2 - "The Loop" a.k.a "The Loop de Loop"</h4>
		<%= image_tag("loop.jpg", :alt => '"The Loop" a.k.a "The Loop de Loop"') %>
		<h4># 1 - "The Windmill"</h4>
		<%= image_tag("windmill.jpg", :alt => "The Windmill") %>
	</div>	
</div>	
