<% provide(:title, "Putter King Adventure Golf Update") %>
<% provide(:description, "Putter King Blog - Putter King Adventure Golf Update") %>

<div class="center margin_header">
	<h1>
		Putter King<br>
		Adventure Golf Update
	</h1>
	<h3>
		Putter King Hole Design Contest Winners
	</h3>
	
</div>	
<div class="blog_text">
	<p>
		<em>
			Putter King Adventure Golf for <%= link_to "iOS", "http://appstore.com/putterkingadventuregolf" %> and <%= link_to "Android", "https://play.google.com/store/apps/details?id=com.putterkingllc.putterking&hl=en" %> was updated this past week to include 3 new holes designed by the 2011 Putter King Hole Design Contest winners. We would like to congratulate our winners again for their great designs! We hope you enjoy playing their designs. 
		</em>	
	</p>
	<h3 class="center">
		1st Place "Island Moai Statues"
	</h3>
	<p>	
		Designed by: Taki Eddine<br>
		City: Zeghaia<br>
		Country: Algeria
	</p>
	<div class="center">
		<%= image_tag("islandmoai.jpg", :alt => "Island Moai Hole Design") %>	
	</div>
	<br>	
	<p>
		Taki making his design out of snow after a recent storm in Algeria:
	</p>
	<div class="center">
		<%= image_tag("snowhole1.jpg", :alt => "Island Moai Hole Design - Snow in Algeria 1", :class=> "img-polaroid") %>
		<br>
		<br>
		<%= image_tag("snowhole2.jpg", :alt => "Island Moai Hole Design - Snow in Algeria 2", :class=> "img-polaroid") %>
		<br>
		<br>
		<%= image_tag("snowhole3.jpg", :alt => "Island Moai Hole Design - Snow in Algeria 3", :class=> "img-polaroid") %>
	</div>	
	<h4>
		How did you come up with the idea for your miniature golf hole design?
	</h4>	
	<p>
		Really, because Putter King is in Japan, my first idea was to make "Fujiyama mountain" as the hole design and make "Samurai" or "Sumo" like barriers and obstacles, but when I watched the Putter King game videos on YouTube, I saw that my idea was already in the game so I changed my idea.
		<br>
		<br>
		My new idea was to make something international, evoking civilisation, hard and easy at the same time, with many possibilities that you could reach the hole.  Now I'm studying to be a 3D Designer, and I'm an adventure game lover, which all helped me to create this hole design (Island Moai Statues).
	</p>	
	<h4>
		Is miniature golf popular in Algeria?
	</h4>
	<p>	
		No, miniature golf is not popular in Algeria.
	</p>
	<h4>
		Have you ever played miniature golf?
	</h4>
	<p>	
		In reality, NO, but in PC games I play it.
	</p>	
	<br>
	<h3 class="center">
		2nd Place "PK's Crown"
	</h3>
	<p>	
		Designed by: Ananya Tawde and Kathy Ren<br>
		City: Cincinnati, OH<br>
		Country: United States
	</p>
	<div class="center">
		<%= image_tag("pkcrown.jpg", :alt => "PK's Crown") %>	
	</div>
	<br>
	<p>
		Ananya in her Putter King t-shirt:
	</p>
	<div class="center">
		<%= image_tag("ananya.jpg", :alt => "PK's Crown Hole Design - Ananya", :class=> "img-polaroid") %>
	</div>
	<h4>
		How did you come up with the idea for your miniature golf hole design?
	</h4>
	<p>	
		Since the name of the site is "Putter King", it is not complete without a crown, hence "PK's Crown".
	</p>
	<h4>
		Have you ever played miniature golf?
	</h4>
	<p>	
		I visit mini golf in our neighboring mall once in a while but I love to play the game on my dad's Droid and my mom's iPhone. 
	</p>
	<br>
	<h3 class="center">
		3rd Place "Putter King Car Course"
	</h3>
	<p>	
		Designed by: Atharva Lobo<br>
		City: Mumbai<br>
		Country: India
	</p>
	<div class="center">
		<%= image_tag("pkcar.jpg", :alt => "Putter King Car Course") %>	
	</div>
	<br>
	<p>
		Atharva in his Putter King t-shirt:
	</p>
	<div class="center">
		<%= image_tag("pk3rd.jpg", :alt => "Putter King Car Course - Atharva", :class=> "img-polaroid") %>
	</div>
	<h4>
		How did you come up with the idea for your miniature golf hole design?
	</h4>
	<p>	
		I was playing Need for Speed, I painted a car green, put some cool blue wheels on it and then it just clicked for me.
	</p>
	<h4>
		Is miniature golf popular in India?
	</h4>
	<p>	
		Miniature golf is not very popular in India, the whole Mumbai city has only 3 minigolf courses.
	</p>	
</div>
	