<div id="top_nav">
	<ul class="nav nav-pills pull-right">
	  	<li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
	  	<li class="<%= 'active' if current_page?(app_path) %>"><%= link_to "App", app_path %></li>
	  	<li class="dropdown <%= 'active' if current_page?(math_path) || current_page?(physics_path) %>">
	      	<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Education <b class="caret"></b></a>
	      	<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
	            <li class="<%= 'active' if current_page?(math_path) %>"><%= link_to "Math", math_path, :tabindex => "-1" %></li>
	            <li class="<%= 'active' if current_page?(physics_path) %>"><%= link_to "Physics", physics_path, :tabindex => "-1" %></li>
	      	</ul>
	    </li>
	    <li class="dropdown <%= 'active' if current_page?(pksh1_path) || current_page?(pksh2_path) %>">
	      	<a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Scavenger Hunt <b class="caret"></b></a>
	      	<ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
	            <li class="<%= 'active' if current_page?(pksh1_path) %>"><%= link_to "#PKSH1 2011", pksh1_path, :tabindex => "-1" %></li>
	            <li class="<%= 'active' if current_page?(pksh2_path) %>"><%= link_to "#PKSH2 2012", pksh2_path, :tabindex => "-1" %></li>
	      	</ul>
	    </li>
	    <li class="<%= 'active' if current_page?(blog_path) %>"><%= link_to "Blog", blog_path %></li>
	</ul>
</div>	